test2.db
test.rb
silver_total.txt
logs.txt
line.rb
line2.rb
app.log
*.log
*.json
/public/*.png
images/
*.db
test2 - Copy.db
.env
*.db
prod.json
*.txt
silver_total.txt
*.txt
edit.rb
silver.zip
*.zip