<html>
  <head>
    <title>Silver Mangement</title>
    <style>
      tr:nth-child(even) {background-color: #304254;}
      td { color: yellow; align: center; text-align: center;}
      th { color: #FF0000; text-align: center;}
    </style>
  </head>
  <body>
    
    <body style="background-color: #121212;">
    <font color="yellow">
      <center>
      <h1>
        Enter Junk Silver
        <br><br>
        <table style="width:50%" border="1" align="center">
          <tr>
            <th><font color="yellow">Name</font></th>
            <th><font color="yellow">OZ Contents</font></th>
          </tr>
          <tr>
            <td><font color="white">Franklin Half Dollar</font></td>
            <td><font color="#1CE815">0.3617</font></td>
          </tr>
          <tr>
            <td><font color="white">Mercury Dimes</font></td>
            <td><font color="#1CE815">0.07234</font></td>
          </tr>
          <tr>
            <td><font color="white">Walker Half Dollar</font></td>
            <td><font color="#1CE815">0.36169</font></td>
          </tr>
          <tr>
            <td><font color="white">Peace Dollar</font></td>
            <td><font color="#1CE815">0.77344</font></td>
          </tr>
          <tr>
            <td><font color="white">Washington Quarter</font></td>
            <td><font color="#1CE815">0.18084</font></td>
          </tr>
          <tr>
            <td><font color="white">Eisenhower dollar</font></td>
            <td><font color="#1CE815">0.3161</font></td>
          </tr>
          <tr>
            <td><font color="white">Kennedy Half Dollars</font></td>
            <td><font color="#1CE815">0.1479</font></td>
          </tr>
          <tr>
            <td><font color="white">Jefferson Nickel</font></td>
            <td><font color="#1CE815">0.05626</font></td>
          </tr>
          <tr>
            <td><font color="white">Eisenhower dollar</font></td>
            <td><font color="#1CE815">0.3161</font></td>
          </tr>
        </table><br><br><br>
        <form action="/enter_junk" method="post">
          <label for="bought_date">Bought Date:</label><br>
          <input type="date" id="bought_date" name="bought_date" required="required"><br>

          <label for="spot_price">Spot Price:</label><br>
          <input type="number" id="spot_price" name="spot_price" step="0.01" required="required" value="0.00"><br>

          <label for="amount">Amount ( count ):</label><br>
          <input list="junk-silver-amount" id="amount" name="amount" />
          <datalist id="junk-silver-amount">
            <option value="1">
            <option value="2">
            <option value="3">
            <option value="4">
            <option value="5">
            <option value="6">
            <option value="7">
            <option value="8">
            <option value="9">
            <option value="10">
            <option value="11">
          </datalist><br>

          <label for="price">Price:</label><br>
          <input type="number" id="price" name="price" step="0.01" required="required" value=""><br>

          <label for="shipping">Shipping:</label><br>
          <input type="number" id="shipping" name="shipping" step="0.01" required="required" value="0.00"><br>

          <label for=total>Total $:</label><br>
          <input type="number" id="total" name="total" step="0.01" required="required" value="0.00"><br>

          <label for="oz">OZ:</label><br>
          <input list="junk-silver-oz" id="oz" step="0.01" name="oz" />
          <datalist id="junk-silver-oz">
            <option value="1">
            <option value="0.3617">
            <option value="2">
            <option value="0.07234">
            <option value="0.36169">
            <option value="0.77344">
            <option value="0.18084">
            <option value="0.3161">
            <option value="0.1479">
            <option value="0.05626">
            <option value="0.5">
          </datalist><br>

          <label for="name">Name:</label><br>
          <input list="junk-silver-type" id="name" name="name" />
          <datalist id="junk-silver-type">
            <option value="Franklin Half Dollar">
            <option value="Mercury dimes">
            <option value="Walking Liberty">
            <option value="Peace Dollar">
            <option value="Washington Quarter">
            <option value="Eisenhower Dollar">
            <option value="Kennedy Half Dollars">
            <option value="Jefferson Nickle">
            <option value="Half OZ">
            <option value="One OZ">
          </datalist><br>

          <label for="status">Status:</label><br>
          <select name="status" id="status">
            <option value="own">Own</option>
            <option value="sold">Sold</option>
            <br>
          </select><br>

          <label for="sold_value">Sold Value:</label><br>
          <input type="number" id="sold_value" name="sold_value" step="0.01" required="required" value="0.00"><br>

          <label for="seller">Seller:</label><br>
          <input type="text" id="seller" name="seller" required="required" value="Apmex"><br>

          <label for="junk-silver-method">Method:</label><br>
          <input list="junk-silver-type1" id="junk-silver-method" name="method" />
          <datalist id="junk-silver-type1">
            <option value="Todd">
            <option value="Gift">
            <option value="Reddit">
            <option value="Person">
            <option value="APMEX">
            <option value="JMbullion">
            <option value="Ebay">
            <option value="nh expo">
            <option value="Golden State Mint">
          </datalist><br>
          <input type="submit" value="Submit"><br><br>
        </form>
        <form>
          <form action="/status" method="post">
          <label for="change_status">Row ID:</label><br>
          <input type="number" id="status_junk" name="status_junk" required="required" value="1"><br>
          <label for="change_status">Sold Price:</label><br>
          <input type="number" id="sold_price" name="sold_price" required="required" value="1"><br>
          <input type="submit" value="Submit">
        </form><br><br>
        <form action="/delete_row" method="post">
          <label for="delete_row">Delete Row:</label><br>
          <input type="number" id="delete_bullion" name="delete_bullion" required="required" value="1"><br>
          <input type="submit" value="Submit">  
        </form>
      </center>
    </h1>
  </body>
</html>
